body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    position: relative;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://unsplash.com/photos/mountain-cover-with-snow-oBX-b6ltYts');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Mengatur opacity background */
    z-index: -1;
}

.container {
    text-align: center;
    margin-top: 150px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.container h1 {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #007bff, #00c3ff, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: neonAnimation 1.5s infinite alternate;
}

@keyframes neonAnimation {
    from {
        filter: brightness(150%);
    }
    to {
        filter: brightness(100%);
    }
}

.container p {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: linear-gradient(90deg, #007bff, #00c3ff, #007bff);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.btn:hover {
    background: linear-gradient(90deg, #0056b3, #008ecb, #0056b3);
}

.features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.feature {
    display: flex;
    align-items: center;
    margin-right: 30px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    animation: neonAnimation 1.5s infinite alternate;
}

.feature i {
    font-size: 48px;
    color: #007bff;
    margin-right: 10px;
    text-shadow: 0 0 8px #00c3ff;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
    text-shadow: 0 0 8px #00c3ff;
}

.feature p {
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}
